RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
RewriteCond %{HTTP_HOST} ^app\.gs4ed\.com$
RewriteRule ^/?$ "https\:\/\/www\.gs4ed\.com\/assignment\/api\/FCMCron\.php" [R=301,L]

# RewriteCond %{HTTP_REFERER} !^http://app.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://app.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://ca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://ca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://demo.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://demo.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://gba.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://gba.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://gba2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://gba2.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://opa.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://opa.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://osticket.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://osticket.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://pace.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://pace.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://planbooks.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://planbooks.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://registration.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://registration.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://signup.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://signup.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://smc.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://smc.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://tbca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://tbca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://tbca3.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://tbca3.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://tcs.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://tcs.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://teleos.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://teleos.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://test2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://test2.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.app.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.app.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.ca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.ca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.demo.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.demo.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.gba.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.gba.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.gba2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.gba2.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.opa.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.opa.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.osticket.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.osticket.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.pace.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.pace.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.planbooks.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.planbooks.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.registration.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.registration.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.signup.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.signup.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.smc.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.smc.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.tbca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.tbca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.tbca3.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.tbca3.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.tcs.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.tcs.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.teleos.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.teleos.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.test2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.test2.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://app.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://app.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://ca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://ca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://demo.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://demo.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://gba.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://gba.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://gba2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://gba2.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://opa.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://opa.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://osticket.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://osticket.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://pace.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://pace.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://planbooks.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://planbooks.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://registration.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://registration.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://signup.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://signup.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://smc.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://smc.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://tbca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://tbca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://tbca3.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://tbca3.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://tcs.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://tcs.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://teleos.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://teleos.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://test2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://test2.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.app.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.app.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.ca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.ca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.demo.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.demo.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.gba.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.gba.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.gba2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.gba2.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.opa.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.opa.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.osticket.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.osticket.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.pace.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.pace.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.planbooks.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.planbooks.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.registration.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.registration.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.signup.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.signup.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.smc.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.smc.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.tbca.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.tbca.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.tbca3.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.tbca3.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.tcs.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.tcs.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.teleos.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.teleos.gs4ed.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.test2.gs4ed.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.test2.gs4ed.com$      [NC]
# RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php72” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
